In [3]:
import os
import urllib.request
import pandas as pd
urllib.request.urlretrieve(url = "https://ndownloader.figshare.com/files/12710618", 
                           filename = "avg-precip-months-seasons.csv")
urllib.request.urlretrieve(url = "https://ndownloader.figshare.com/files/12710621", 
                           filename = "precip-2002-2013-months-seasons.csv")
precip_2002_2013 = pd.read_csv("/home/marta/PycharmProjects/Earth analytics/1/precip-2002-2013-months-seasons.csv")
avg_precip = pd.read_csv("/home/marta/PycharmProjects/Earth analytics/1/avg-precip-months-seasons.csv")
avg_precip

   months  precip seasons
0     Jan    0.70  Winter
1     Feb    0.75  Winter
2     Mar    1.85  Spring
3     Apr    2.93  Spring
4     May    3.05  Spring
5    June    2.02  Summer
6    July    1.93  Summer
7     Aug    1.62  Summer
8    Sept    1.84    Fall
9     Oct    1.31    Fall
10    Nov    1.39    Fall
11    Dec    0.84  Winter

In [4]:
precip_2002_2013

   months  precip_2002  precip_2013 seasons
0     Jan         1.07         0.27  Winter
1     Feb         0.44         1.13  Winter
2     Mar         1.50         1.72  Spring
3     Apr         0.20         4.14  Spring
4     May         3.20         2.66  Spring
5    June         1.18         0.61  Summer
6    July         0.09         1.03  Summer
7     Aug         1.44         1.40  Summer
8    Sept         1.52        18.16    Fall
9     Oct         2.44         2.24    Fall
10    Nov         0.78         0.29    Fall
11    Dec         0.02         0.50  Winter

In [5]:
avg_precip.head()

  months  precip seasons
0    Jan    0.70  Winter
1    Feb    0.75  Winter
2    Mar    1.85  Spring
3    Apr    2.93  Spring
4    May    3.05  Spring

In [6]:
avg_precip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
months     12 non-null object
precip     12 non-null float64
seasons    12 non-null object
dtypes: float64(1), object(2)
memory usage: 416.0+ bytes

In [7]:
avg_precip.describe()

          precip
count  12.000000
mean    1.685833
std     0.764383
min     0.700000
25%     1.192500
50%     1.730000
75%     1.952500
max     3.050000

In [8]:
avg_precip.sort_values(by="precip", ascending = False)

   months  precip seasons
4     May    3.05  Spring
3     Apr    2.93  Spring
5    June    2.02  Summer
6    July    1.93  Summer
2     Mar    1.85  Spring
8    Sept    1.84    Fall
7     Aug    1.62  Summer
10    Nov    1.39    Fall
9     Oct    1.31    Fall
11    Dec    0.84  Winter
1     Feb    0.75  Winter
0     Jan    0.70  Winter

In [9]:
avg_precip.precip = avg_precip.precip * 25.4
avg_precip

   months  precip seasons
0     Jan  17.780  Winter
1     Feb  19.050  Winter
2     Mar  46.990  Spring
3     Apr  74.422  Spring
4     May  77.470  Spring
5    June  51.308  Summer
6    July  49.022  Summer
7     Aug  41.148  Summer
8    Sept  46.736    Fall
9     Oct  33.274    Fall
10    Nov  35.306    Fall
11    Dec  21.336  Winter

In [10]:
import matplotlib.pyplot as plt
plt.rcParams["figure.figsize"] = (8, 8)

# create the plot space upon which to plot the data
fig, ax = plt.subplots()

# add the x-axis and the y-axis to the plot
ax.bar(avg_precip.months, avg_precip.precip, color="grey")

# set plot title
ax.set(title="Average Monthly Precipitation in Boulder, CO")

# add labels to the axes
ax.set(xlabel="Month", ylabel="Precipitation (mm)");

In [16]:
avg_precip.iloc[0:2, 0:3]

  months  precip seasons
0    Jan   17.78  Winter
1    Feb   19.05  Winter

In [22]:
avg_precip.iloc[0:1,]

  months  precip seasons
0    Jan   17.78  Winter

In [25]:
avg_precip_text = avg_precip[['months', 'seasons']]
avg_precip_text

   months seasons
0     Jan  Winter
1     Feb  Winter
2     Mar  Spring
3     Apr  Spring
4     May  Spring
5    June  Summer
6    July  Summer
7     Aug  Summer
8    Sept    Fall
9     Oct    Fall
10    Nov    Fall
11    Dec  Winter

AttributeError: 'DataFrame' object has no attribute 'seasons'

In [31]:
avg_precip = avg_precip.set_index("seasons")

# print the data to see the new structure
avg_precip

KeyError: "None of ['seasons'] are in the columns"

In [35]:
avg_precip = avg_precip.set_index("months")
avg_precip
#.loc("Winter")

        precip
months
Jan     17.780
Feb     19.050
Mar     46.990
Apr     74.422
May     77.470
June    51.308
July    49.022
Aug     41.148
Sept    46.736
Oct     33.274
Nov     35.306
Dec     21.336

In [45]:
precip_2002_2013.describe()
precip_2002 = precip_2002_2013.set_index("precip_2002")

KeyError: "None of ['precip_2003'] are in the columns"

In [53]:
precip_2013 = precip_2002_2013.set_index("precip_2013")
precip_2013

            months  precip_2002 seasons
precip_2013
0.27           Jan         1.07  Winter
1.13           Feb         0.44  Winter
1.72           Mar         1.50  Spring
4.14           Apr         0.20  Spring
2.66           May         3.20  Spring
0.61          June         1.18  Summer
1.03          July         0.09  Summer
1.40           Aug         1.44  Summer
18.16         Sept         1.52    Fall
2.24           Oct         2.44    Fall
0.29           Nov         0.78    Fall
0.50           Dec         0.02  Winter

   months  precip_2002  precip_2013 seasons
0     Jan         1.07         0.27  Winter
1     Feb         0.44         1.13  Winter
2     Mar         1.50         1.72  Spring
3     Apr         0.20         4.14  Spring
4     May         3.20         2.66  Spring
5    June         1.18         0.61  Summer
6    July         0.09         1.03  Summer
7     Aug         1.44         1.40  Summer
8    Sept         1.52        18.16    Fall
9     Oct         2.44         2.24    Fall
10    Nov         0.78         0.29    Fall
11    Dec         0.02         0.50  Winter

In [71]:
#precip_2002_2013["precip_2002"].max()
precip_2002_2013[precip_2002_2013.precip_2013 == precip_2002_2013.precip_2013.max()]

  months  precip_2002  precip_2013 seasons
8   Sept         1.52        18.16    Fall

In [76]:
urllib.request.urlretrieve(url = "https://ndownloader.figshare.com/files/12815417", 
                           filename = "monthly-temp-2010-to-2013.csv")

# download .csv containing monthly temperature in 2010 to 2013 for Boulder, CO
urllib.request.urlretrieve(url = "https://ndownloader.figshare.com/files/12815420", 
                           filename = "monthly-temp-2014-to-2017.csv")

# import monthly temperature values for 2010 to 2013 as a pandas dataframe
monthly_temp_2010_to_2013 = pd.read_csv("/home/marta/PycharmProjects/Earth analytics/1/monthly-temp-2010-to-2013.csv")

# import monthly temperature values for 2014 to 2017 as a pandas dataframe
monthly_temp_2014_to_2017 = pd.read_csv("/home/marta/PycharmProjects/Earth analytics/1/monthly-temp-2014-to-2017.csv")

In [78]:
monthly_temp_2014_to_2017.head()

      Month  Year  Temp  Season  Year_Avg Year_Avg_Label
0   January  2014  34.6  Winter   51.2917            avg
1  February  2014  32.0  Winter   51.2917            avg
2     March  2014  43.6  Spring   51.2917            avg
3     April  2014  49.8  Spring   51.2917            avg
4       May  2014  56.6  Spring   51.2917            avg

In [86]:
monthly_temp_2014_to_2017["Temp"] = monthly_temp_2014_to_2017["Temp"]/4
monthly_temp_2014_to_2017

        Month  Year  Temp  Season  Year_Avg Year_Avg_Label
0     January  2014  34.6  Winter   51.2917            avg
1    February  2014  32.0  Winter   51.2917            avg
2       March  2014  43.6  Spring   51.2917            avg
3       April  2014  49.8  Spring   51.2917            avg
4         May  2014  56.6  Spring   51.2917            avg
5        June  2014  66.2  Summer   51.2917            avg
6        July  2014  72.2  Summer   51.2917            avg
7      August  2014  69.2  Summer   51.2917            avg
8   September  2014  63.8    Fall   51.2917            avg
9     October  2014  55.3    Fall   51.2917            avg
10   November  2014  38.3    Fall   51.2917            avg
11   December  2014  33.9  Winter   51.2917            avg
12    January  2015  36.5  Winter   52.5250           warm
13   February  2015  36.6  Winter   52.5250           warm
14      March  2015  46.1  Spring   52.5250           warm
15      April  2015  50.1  Spring   52.5250           warm
16        May  2015  52.4  Spring   52.5250           warm
17       June  2015  68.3  Summer   52.5250           warm
18       July  2015  70.3  Summer   52.5250           warm
19     August  2015  70.5  Summer   52.5250           warm
20  September  2015  69.4    Fall   52.5250           warm
21    October  2015  56.2    Fall   52.5250           warm
22   November  2015  40.8    Fall   52.5250           warm
23   December  2015  33.1  Winter   52.5250           warm
24    January  2016  34.1  Winter   53.2667           warm
25   February  2016  40.9  Winter   53.2667           warm
26      March  2016  43.0  Spring   53.2667           warm
27      April  2016  49.0  Spring   53.2667           warm
28        May  2016  54.1  Spring   53.2667           warm
29       June  2016  70.5  Summer   53.2667           warm
30       July  2016  74.0  Summer   53.2667           warm
31     August  2016  70.4  Summer   53.2667           warm
32  September  2016  64.9    Fall   53.2667           warm
33    October  2016  58.8    Fall   53.2667           warm
34   November  2016  47.5    Fall   53.2667           warm
35   December  2016  32.0  Winter   53.2667           warm
36    January  2017  32.2  Winter   53.3250           warm
37   February  2017  42.3  Winter   53.3250           warm
38      March  2017  50.3  Spring   53.3250           warm
39      April  2017  48.9  Spring   53.3250           warm
40        May  2017  55.7  Spring   53.3250           warm
41       June  2017  68.7  Summer   53.3250           warm
42       July  2017  73.9  Summer   53.3250           warm
43     August  2017  69.0  Summer   53.3250           warm
44  September  2017  63.5    Fall   53.3250           warm
45    October  2017  51.5    Fall   53.3250           warm
46   November  2017  47.5    Fall   53.3250           warm
47   December  2017  36.4  Winter   53.3250           warm

In [84]:
month_temp_2014_2017_summary = monthly_temp_2014_to_2017.groupby(["Month"])[["Temp"]].describe()

# print new dataframe
month_temp_2014_2017_summary

           Temp
          count   mean        std    min    25%    50%    75%    max
Month
April       4.0  197.8   2.366432  195.6  195.9  197.6  199.5  200.4
August      4.0  279.1   3.139002  276.0  276.6  279.2  281.7  282.0
December    4.0  135.4   7.479750  128.0  131.3  134.0  138.1  145.6
February    4.0  151.8  18.597491  128.0  141.8  155.0  165.0  169.2
January     4.0  137.4   7.069182  128.8  134.5  137.4  140.3  146.0
July        4.0  290.4   6.966587  281.2  286.9  292.2  295.7  296.0
June        4.0  273.7   7.060689  264.8  271.1  274.0  276.6  282.0
March       4.0  183.0  13.268509  172.0  173.8  179.4  188.6  201.2
May         4.0  218.8   7.397297  209.6  214.7  219.6  223.7  226.4
November    4.0  174.1  18.808154  153.2  160.7  176.6  190.0  190.0
October     4.0  221.8  12.090768  206.0  217.4  223.0  227.4  235.2
September   4.0  261.6  10.934959  254.0  254.9  257.4  264.1  277.6

      Month  Year   Temp  Season  Year_Avg Year_Avg_Label
0   January  2014  138.4  Winter   51.2917            avg
1  February  2014  128.0  Winter   51.2917            avg
2     March  2014  174.4  Spring   51.2917            avg
3     April  2014  199.2  Spring   51.2917            avg
4       May  2014  226.4  Spring   51.2917            avg

In [87]:
monthly_temp_2010_to_2017 = monthly_temp_2010_to_2013.append(monthly_temp_2014_to_2017, ignore_index=True)
monthly_temp_2010_to_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 6 columns):
Month             96 non-null object
Year              96 non-null int64
Temp              96 non-null float64
Season            96 non-null object
Year_Avg          96 non-null float64
Year_Avg_Label    96 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 4.6+ KB

In [88]:
homework = monthly_temp_2010_to_2017.groupby(["Year_Avg_Label"])["Temp"].count()
homework

Year_Avg_Label
avg     48
warm    48
Name: Temp, dtype: int64

In [90]:
homework_reset = homework.reset_index()
homework_reset

  Year_Avg_Label  Temp
0            avg    48
1           warm    48